{{ with .Site.Params.author }}
<section class="sidebar">
  <header>AUTHOR</header>
  <div class="author">
    <a href="{{ .github | absURL }}">
      {{ with .thumbnail }}
      <img class="author-thumb" src="{{ . | absURL }}">
      {{ end }}
    </a>
    <div class="author-name">{{ .name }}</div>
    <div class="article-info profile-block">
      <div class="article-info-block">
        <a href="{{ .Site.baseURL | absURL }}">
          {{ len (where $.Site.RegularPages "Section" "==" "post") }}
          <span>Posts</span>
        </a>
      </div>
      <div class="article-info-block">
        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">
          {{ len $.Site.Taxonomies.tags }}
          <span>Tags</span>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
