article.lism .thumb {
  width: 6rem;
}

{{ range $p := .Site.RegularPages }}
{{ with $p.Params.thumbnail }}
.thumb-{{ $p.File.UniqueID }} {
  background-image: url({{ $.Site.BaseURL }}{{ . }});
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
}
article.lism .thumb-{{ $p.File.UniqueID }} {
  width: 5rem;
}
{{ end }}
{{ end }}

article.sn > .article-body ul {
  margin: 0;
}

article.sn > .article-body h4 {
  margin-bottom: 1rem;
}

.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  color: #515151;
}

.has-jax > .MathJax_Display {
  text-align: left !important;
}

.hljs {
  position: relative;
}

.hljs[data-filename] {
  padding-top: 2em !important;
}

.hljs[data-filename]::before {
  content: attr(data-filename);
  position: absolute;
  top: 0;
  left: 20px;
  padding: 0 0.3em;
  font-size: 0.93em;
  background-color: #E7E9EB;
}
