article.sn > .article-body ul {
  margin: 0;
}

article.sn > .article-body h4 {
  margin-bottom: 1rem;
}

.hljs {
  position: relative;
}

article.sn > .article-body pre > code.hljs[data-filename] {
  padding-top: 2em;
}

.hljs[data-filename]::before {
  content: attr(data-filename);
  position: absolute;
  top: 0;
  left: 20px;
  padding: 0 0.3em;
  font-size: 0.93em;
  background-color: #E7E9EB;
}

ul.facts, ul.facts-tags {
  margin: 0;
  padding: 0;
}

ul.facts li, ul.facts-tags li {
  display: inline;
  font-size: 0.8rem;
}

ul.facts i, ul.facts-tags i {
  color: #cfd8dc;
  margin-right: 0.5em;
}

ul.facts.sm li, ul.facts-tags.sm li {
  font-size: 0.7rem;
}

ul.facts > li {
  margin-right: 1rem;
}

ul.facts-tags {
  margin: 0.5rem 0rem 1.3rem 0rem;
  line-height: 1.3rem;
}

ul.facts-tags li {
  margin-right: 0.2rem;
}

section.sidebar header a {
  color: #333;
  text-decoration: underline;
}

section.sidebar p {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

section.sidebar input[type="search"] {
  color: #666;
  font-size: 1em;
  font-weight: bolder;
  border: solid;
  border-color: #ccc;
  border-width: 1px;
  padding: 5px;
}

section.sidebar input[id="search-button"] {
  margin-left: 0.5rem;
}

.author {
  padding: 1rem 0 0;
}

.author .author-name {
  margin-bottom: 1rem;
}

.article-info {
  padding: 0px;
  border-top: 1px solid rgb(63 63 68 / 10%);
}

.article-info:before,
.article-info:after {
  content: "";
  display: table;
}

.article-info:after {
  clear: both;
}

.article-info .article-info-block {
  width: 50%;
  float: left;
  padding: 5px 4px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
}

.article-info .article-info-block span {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.article-info .article-info-block:first-child {
  border-right: 1px solid rgb(63 63 68 / 10%);
}

.c8 {
  width: 50%;
}

.c2 {
  width: 25%;
}

.l-container {
  max-width: 80rem;
}

@media (max-width: 768px) {
  .l-container { max-width: 68rem; }
}

@media (max-width: 768px) {
  .c2, .c4, .c6, .c8 { width: 100%; }
}

.article-info-block a {
  display: block;
}

figure.center {
  text-align: center;
}

figure img {
  border-color: black;
  border-style: solid;
  border-width: 0.5px;
}

#feedlyFollow {
  vertical-align: middle;
}

#search-content > input {
  color: #666;
  font-size: 1em;
  font-weight: bolder;
  border: solid;
  border-color: #ccc;
  border-width: 1px;
  padding: 5px;
  margin-right: 5px;
}

#search-area {
  display: flex;
  align-items: center;
}

#search-button {
  font-size: 1em;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  #search-content {
    display: flex;
    flex-direction: column;
  }

  #search-content > input {
    margin-right: 0;
  }

  #result-count {
    margin: 15px auto 0;
  }
}

input::-webkit-input-placeholder {
  color: #999;
}

#result {
  margin: 1em;
}


.search-item-wrap{
  border-radius: 1rem;
  box-shadow: 3px 3px 7px #a7a7a7, -3px -3px 7px #f7f7f7;
  margin-bottom: 1rem;
}

.search-item-wrap a{
  text-decoration: none;
  color: #444;
}

.search-item-head {
  padding: 0 0.5em;
  display: flex;
  align-items: center;
}

.search-item-info{
  max-width: 70%;
  padding: 0.5rem;
}

.search-item-title{
  font-size: 1.4rem;
  font-weight: bolder;
  line-height: 1.2;
  text-decoration: none;
  color: #009FE8;
}

.search-item-date{
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.search-item-excerpt {
  background: #fff;
  margin: 0.5em 0 1em;
  padding: 0.5em;
  border-radius: 0 0 1rem 1rem;
  font-size: smaller;
}

.search-item-excerpt b {
  background: #A3DDE3;
}

.search-item-image {
  padding: 1rem;
  width: 5rem;
  height: 5rem;
}

.search-item-image > img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.articles.sm.mt-30 {
  margin-top: 30px;
}

.w-100 {
  width: 100%;
}
