{{ if .IsHome }}
<section class="sidebar">
  <form>
    <p>ページ内検索</p>
    <div id="search-area">
      <input id="search-keyword" type="search" size="15" autocomplete="off" placeholder="検索ワード">
      <input id="search-button" type="submit" value="検索">
    </div>
  </form>

  <script>
    const SEARCH_URL = '/search/';
    
    window.addEventListener('DOMContentLoaded', () => {
      const searchButton = document.getElementById('search-button');
      const searchKeyword = document.getElementById('search-keyword');
    
      // 検索ボタンのクリックで検索ページへジャンプ
      searchButton.addEventListener('click', e => {
        e.preventDefault();  // Prevent default form's behavior
        const query = searchKeyword.value;
        const url = query ? SEARCH_URL + '#' + query : SEARCH_URL;
        location.href = url;
      });
    });
  </script>
</section>
{{ end }}
