<aside class="share">
  <a href="https://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" title="はてなブックマーク" class="ht" target="_blank" rel="noopener nofollow">B!</a>
  <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" title="Twitterでシェア" class="tw" target="_blank" rel="noopener nofollow"><i class="fab fa-twitter" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" title="Facebookでシェア" class="fb" target="_blank" rel="noopener nofollow"><i class="fab fa-facebook" aria-hidden="true"></i></a>
  <a href="https://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" title="Pocketに保存" class="pk" target="_blank" rel="noopener nofollow"><i class="fab fa-get-pocket" aria-hidden="true"></i></a>
  <a href="https://social-plugins.line.me/lineit/share?url={{ .Permalink }}" title="LINEでシェア" class="ln" target="_blank" rel="noopener nofollow"><i class="fab fa-line" aria-hidden="true"></i></a>
  <a href="https://kkawazoe.github.io/index.xml" title="RSSでフォロー" class="rs" target="_blank" rel="noopener nofollow"><i class="fa fa-rss" aria-hidden="true"></i></a>
  <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fkkawazoe.github.io%2Findex.xml' title="Feedlyでフォロー" target='_blank'><img id='feedlyFollow' src='https://s1.feedly.com/legacy/feedly-follow-rectangle-flat-small_2x.png' alt='follow us in feedly' width='66' height='20'></a>
</aside>
